html,
body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  margin: auto;
}
 .topbar-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 10px 20px; */
      /* width: 1440px; */
      /* height: 100px;
      background-color: #ec1bc3; */
      /* padding-left: 110px;
      padding-right: 150px; */
      width: 100%;
      max-width: 1140px;
      font-family: Arial, Helvetica, sans-serif;
      /* border: 5px solid red ; */
      /* justify-content: space-between; */
 }

.top-var {
       display: flex;
      height: 100px;
      background-color: #fffbf0;
      justify-content: center;
      /* border: 5px solid red ; */
      
      
    }
.brand_name {
  display: flex;
  align-items: center;
  gap: 8px;
   /* border: 5px solid red ; */
  font-size: 30px;
}
.gen {
  color: #a4bc46;
  font-family: Montserrat;
  font-size: 25.426px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fashion {
  color: #363958;
  font-family: Montserrat;
  font-size: 25.426px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo {
  width: 55.936px;
  height: 39.266px;
  /* margin-left: 20px; */
  background-image: url("logo_icon.png");
  /* margin-top: 10px; */
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-links  {
  display: flex;
  flex-direction: row;
  color: #3c3c3c;
  /* margin-right: 440px; */
  justify-items: space-evenly;
  gap: 57px;
  list-style: none;
  /* border: 5px solid red ; */
  
}
.nav-links a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
}
/* .gen{

    color: #A4BC46;

font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */
.fashion {
  color: #363958;
  font-family: Montserrat;
  font-size: 25.426px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* .nab-links {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
.hero-background {
  background-color: #fffbf0;
}

.hero-section {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
  gap: 40px;
  /* padding: 100px 150px; */
  padding-top: 10px;
  width: 100%;
  max-width: 1440px;
  height: 715px;

  /* margin-left: 50px;
  margin-right: 50px; */
  background-color: #fffbf0;
}
/* .hero-tex{
  flex: 1;
  max-width: 560px;
} */
.hero-tex {
  justify-content: content-evenly;
  margin-top: -180px;
  margin-left: -100px;
  font-family: "Bebas Neue", sans-serif;
}
.hero-section .tex1 {
  color: #fabe4c;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-section .tex2 {
  color: #363958;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-tex p {
  color: #3e3e3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.buy-now-button {
  width: 170px;
  height: 60px;
  margin-top: 8px;
  display: flex;
  border-radius: 10px;
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: transparent;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px;
  cursor: pointer;
}
.buy-now-button img {
  width: 24px;
  height: 24px;
}

/* .Buy-Now{
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(3, 89, 170);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.Buy-Now:hover{
    filter: brightness(2.05);
} */

.hero-image {
  /* flex: 1; */
  width: 397px;
  height: 394px;
  margin-right: -100px;
  margin-top: -260px;
  /* margin-right: 100px;
   margin-left: 250px; */
  border-radius: 18px;
  background-image: url("model.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.woman {
  
  padding: 10px;
  /* margin-top:20px; */
  align-items: center;
  text-align: center;
  column-gap: none;
  /* border: 2px solid rgb(14, 13, 13)  ; */
}

.Continer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  width: 100%;
  height: auto;
  padding: 22px;
  border-radius: 20px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

.Continer img {
  width: 100%;
  max-width: 250px;
  height: 300px;
  padding: 0;
  border-radius: 20px;
  background: #f1f1f1;
  object-fit: contain;
  display: block;
  margin: 0 auto 15px;
}
/* border-radius: 20px;
background: #FFF;

box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05); */
.price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  color: #fabe4c;
}
.price-button .buy-now-button {
  width: 140px;
  height: 48px;
  font-size: 14px;
  padding: 10px;
  gap: 6px;
}
.price-button .buy-now-button img {
  width: 20px;
  height: 20px;
  background: none;
  margin-top: 10px;
}
/* 
.add-to-cart{
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #A4BC46;
    border: none;
    border-radius: 6px;
    cursor: pointer;

} */
/* .add-to-cart{
 width: 170px;
    height: 60px;
    margin-top: 8px;
    display: flex;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
     border: 2px solid red; 
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: transparent;
    align-items: center;
    justify-content: center;
    gap: 8px;
     padding: 14px 
} */

/* .add-to-cart img{
  width: 24px;
    height: 24px;
} */

.text3 {
  /* text-align: start; */
  justify-items: center;
  width: 1140px;
  color: #363958;
  /* margin-left: 480px; */
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Bebas Neue", sans-serif;
  /* border: 5px solid red; */
}
.title {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  color: #363958;
  font-size: 20px;
  font-weight: 700;
}
.details {
  color: #3e3e3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: start;
}

.custom-footer {
  display: flex;
  height: auto;
  width: 100%;
  gap: 200px;
  padding: 60px 20px;
  background-color: #fff;
  font-family: sans-serif;
}

.f-card {
  width: 489px;
  height: 135px;
  /* background: #ffffff; */
  padding: 20px;
  margin-left: 450px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  /* This creates the soft shadow look */
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

.f-icon {
  /* font-size: 40px;
    color: #FF6F61; */
  display: flex;
}
.footer-image {
  flex: 1;
  display: flex;
  margin-right: 200px;
  justify-content: center;
}

.footer-image img {
  width: 100%;
  max-width: 550px;
  height: 400px;
  border-radius: 20px;
}
.f-text h3 {
  color: #363958;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.f-text p {
  color: #3e3e3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
